{% extends 'base/base.html' %}

{% block title %}{% endblock %}


{% block content %}

    <h1>Created By {{ post.user.return_full_name() }}</h1>
    <h2>Posted @ {{ post.created_at.strftime('%B %d, %y') }}</h2>
    <div style="width: 50%; padding:20px; border:1px solid black;">
        {{ post.content }}
    </div>
    <h3>People who Liked this post:</h3>
    {% for like in post.likes %}
        {% if like.user.first_name != None %}
            <p>{{ like.user.return_full_name() }}</p>
        {% endif %}
    {% endfor %}

{% endblock %}